body,div,span,h1,h2,h3,h4,h5,h6,p,a,ol,ul,li,dl,dt,dd,input,img,form,button,blockquote,strong{ font-weight:normal;margin:0; padding:0; list-style:none; border:0;}
body{ font-family:"Microsoft YaHei"; font-weight:normal; font-size: 0.6rem;}
a{text-decoration:none; color:#000;border:none;padding:0px;margin:0px;}
a:hover{text-decoration:none;}
img{ border:none; width:100%;}
input{ outline:none;}
.page{ background: #fff;}
em{font-style: normal;}
.nofixdhead~.content{top: 2.2rem;}
.corimg{ display: block; width: 100%;}
.icon-left:before{color: #fff;}

/*轮播图样式*/
.swiperztcom{ padding-bottom: 0px;}
.indexbanner a{display: block;}
.swiperztcom>.swiper-pagination{ bottom: 0.2rem;}
.swiperztcom>.swiper-shade{width:100%;height:100%;background:linear-gradient(#fff 90%,#eeeded);position:absolute;top:0;left:0;right:0;border-bottom:.075rem solid #b2b2b2;}
.swiperztcom>.swiper-page{width:1.4rem;height:1.4rem;border-radius:50%;background:#999;text-align:center;line-height:1.4rem;color:#fff;font-size:.45rem;bottom:.8rem;left:85%;}
.swiperztcom>.swiper-page span:nth-child(1){font-size:.625rem;position:relative;left:.1rem;}
.swiperztcom>.swiper-page span:nth-child(2){font-size:.45rem;position:relative;right:.1rem;}
.swiperztcom .swiper-pagination-bullet{ background: #fff; opacity: 0.3;}
.swiperztcom .swiper-pagination-bullet-active{ background: #fff; opacity: 0.8;}

.square {width: 100%; overflow: hidden; padding-bottom: 100%; height: 0px;}
.btnclose{position:absolute;top:0.3rem; z-index:5;right:0.5rem;text-align: center; width:1.4rem;height:1.4rem; line-height:1.2rem; color:#ccc; font-size:1rem; border:1px solid #ccc; border-radius: 50%;}
.pubpop{ z-index: 10401;}

.opcheader{ position: fixed; top: 0px; left: 0px; right: 0px; height: 2.2rem; z-index: 9999;
    background: linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.7),rgba(0,0,0,0));
    transition:background-color .2s linear;
    transform:translateZ(0);
    -webkit-transform:translateZ(0);
    -webkit-transition:background-color .2s linear;
}
.opcheader .icon,.shownav_t .icon{ line-height: 2.2rem; position: absolute; top: 0; font-size: 1rem; padding: 0px 0.3rem; color: #fff;}
.opcheader .icon-left{ left: 0px;}
.opcheader .icon-user{ right: 0px; font-size: 0.75rem; color:#000; }
.icon-user:before{ background: url(../images/show/shopping1.png) no-repeat center center; background-size:1.1rem 1.1rem; width:1.6rem; content: ""; height:2.2rem; display: block;}
.opcheader .center{ margin: 0px 2rem; overflow: hidden;}
.opcheader .searbox{ background: #fff; opacity: 0.9; border-radius: 0.1rem; margin-top: 0.35rem; padding: 0.3rem 0.3rem; position: relative;}
.opcheader .searbox .inptxt{ width:100%; }
.opcheader .searbox  .btnsear{ right: 0; width: 2rem; color:#a79d98; line-height:1.6rem;}
.syheader .icon-left{ display: none;}
.syheader .center{ }
.headblackbg{ background:#393a3f; }
.headblackbg h1{  text-align: center;font-size: 0.9rem; line-height: 2.2rem; color: #fff;}
.headblackbg~.content{ top:2.2rem; }
.home_process{margin: 10px 0 16px; overflow: hidden; background: #fff; padding:1%;pading-right:0; }
.home_process .clla{ width:16.666666666%; float: left;}
.home_process .clla .home_process_1{padding:0 5%; text-align: center;}

h1{ text-align: center; font-size: 1.3em; line-height: 1.5rem; text-indent: -1rem;color: #fff;}
.bar{ background-color: #fff;}
.bar:after { background-color: #5990f4 !important; }
.bar-nav~.content{ top: 1.5rem;background-color: #f6f6f6 !important;padding-bottom: 3.0rem;}
.bar-tab .tab-item.active .icon, .bar-tab .tab-item:active .icon{ background-image: url("../images/navhover.png");}
.bar-tab:before{background: #949494;}
.bar-tab .tab-item .icon{ padding: 0; width: 1.2rem; background: url("../images/nav.png") no-repeat; background-size: 100% auto;}
.bar-tab .tab-item .icon-ychome{ background-position: 0 0;}
.bar-tab .tab-item .icon-travline{ background-position: 0px -1.2rem;}
.bar-tab .tab-item .icon-find{ background-position: 0px -2.4rem;}
.bar-tab .tab-item .icon-my{ background-position: 0px -3.6rem;}
.bar-tab .tab-item.active, .bar-tab .tab-item:active{color: #5990f4;}


.syamenu{ position: relative; overflow: hidden;}
.syamenu img{ }
.syamenu a{width: 25%; padding-bottom: 28%; position: absolute; }
.syamenu a:nth-of-type(2){left: 25%;}
.syamenu a:nth-of-type(3){left: 50%;}
.syamenu a:nth-of-type(4){left: 75%;}

.youlinmenu { position: relative; overflow: hidden; }
.youlinmenu a{ width: 100%; padding-bottom: 25%; position: absolute; }
.youlinmenu a:nth-of-type(1){top: 20%;}
.youlinmenu a:nth-of-type(2){top: 60%;}

.zymenu { position: relative; overflow: hidden; }
.zymenu a{ width: 100%; padding-bottom: 70%; position: absolute; }
.zymenu a:nth-of-type(1){height: 50%;}
.zymenu a:nth-of-type(2){top: 70%;}

.fuwumenu1 { position: relative;overflow: hidden; }
.fuwumenu1 a { width: 25%; padding-bottom: 38%; position: absolute; }
.fuwumenu1 a:nth-of-type(2){left: 25%;}
.fuwumenu1 a:nth-of-type(3){left: 50%;}
.fuwumenu1 a:nth-of-type(4){left: 75%;}
.fuwumenu2 { position: relative;overflow: hidden; }
.fuwumenu2 a { width: 25%; position: absolute; }
.fuwumenu2 a:nth-of-type(1){padding-bottom: 35%;}
.fuwumenu2 a:nth-of-type(2){left: 25%;padding-bottom: 35%;}
.fuwumenu2 a:nth-of-type(3){left: 50%;padding-bottom: 35%;}
.fuwumenu2 a:nth-of-type(4){left: 75%;padding-bottom: 35%;}
.fuwumenu2 a:nth-of-type(5){top: 55%;padding-bottom: 25%;}
.fuwumenu2 a:nth-of-type(6){left: 25%;top: 55%;padding-bottom: 25%;}
.fuwumenu2 a:nth-of-type(7){left: 50%;top: 55%;padding-bottom: 25%;}
.fuwumenu2 a:nth-of-type(8){left: 75%;top: 55%;padding-bottom: 25%;}

.bar-nav{height: 1.5rem;position: relative;background-color: #5990f4;}
.bar-nav .button-link{ line-height: 1.5rem; height: 1.5rem;}
.bar-transfixed{ background: none; position: fixed;}
.bar-transfixed~.content{top: 0;}
.bar-transfixed:after{ background: none;}
.bar .button-link{ color: #ff9d00;}
.bar-sy{ padding-left: 0; padding-right: 0;}
.bar-sy .corimg{max-height: 1.5rem;}

.login{position: absolute;top: 0;right: 0;height: 1.8rem;width: 3.6rem;background: transparent;}
.loginPage { position: relative;overflow: hidden; }
.loginPage .loginSuccess { position: absolute;bottom: 5%;width: 100%;padding-bottom: 15%;}
.loginPage .register { position: absolute;bottom: 0;width: 50%;padding-bottom: 5%;left: 50%; }
.loginPage .wangji { position: absolute;bottom: 0;width: 50%;padding-bottom: 5%; }
.house {position: relative;overflow: hidden;}
.house a{position: absolute;width: 100%;}
.house a:nth-of-type(1){ padding-bottom: 20%; }
.house a:nth-of-type(2){ padding-bottom: 10%;top: 25%; }
.house a:nth-of-type(3){ padding-bottom: 10%;bottom: 0; }

